<div id="awards" class="w-full flex flex-col justify-center items-center py-6 pb-0">
    <div class="self-center text-center w-full sm:w-2/3 xl:w-1/3 px-4 sm:px:0">
        <h2 class="font-bold tracking-wider text-gray-800 text-4xl mb-4">
            Awards
        </h2>
        <!-- <div class="font-light text-black text-xl">
            text
        </div> -->
        <a href="https://www.nbnco.com.au/corporate-information/media-centre/media-statements/australias-most-innovative-recognised" target="_blank" title="Click to view NBN Awards">
            <img class="max-w-full mx-auto border-rounded" src="/img/nbn-agriculture-winner.png" alt="nbn agriculture winner 2023">
        </a>
    </div>
    <!-- <div class="flex flex-row w-full justify-center">
        <a class="px-10 py-2 text-gray-200 bg-blue-600 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red" href="#features">See our features</a>
    </div> -->

    {{ partial "carousel.html" (dict "context" . "items" "1" "height" "50" "unit" "%" "duration" "2000") }}
</div>