{{ $headless := .Site.GetPage "/sections" }}
{{ $awards := $headless.Resources.GetMatch (printf "*%s*" "awards") }}
<div id="awards" class="flex flex-col justify-center items-center bg-blue-200 py-12">
    <div class="self-center text-center w-full sm:w-2/3 xl:w-1/3 px-4 sm:px:0">
        <h2 class="font-bold tracking-wider text-gray-800 text-4xl mb-4">
            {{ $awards.Title }}
        </h2>
        <a href="https://www.nbnco.com.au/corporate-information/media-centre/media-statements/australias-most-innovative-recognised" target="_blank" title="Click to view NBN Awards">
            <picture>
            {{ $isJPG := eq (path.Ext $awards.Params.image) ".jpg" }}
            {{ $isPNG := eq (path.Ext $awards.Params.image) ".png" }}
            
            {{ if ($isJPG) -}}
              {{ $webpPath:= replace $awards.Params.Image ".jpg" ".webp" }}
              {{ $webpPathStatic:= printf "static/%s" $webpPath }}
              {{ if (fileExists $webpPathStatic) -}}
                <source srcset="{{ $webpPath | safeURL }}" type="image/webp" >
              {{- end }}

            {{- end }}
            {{ if ($isPNG) -}}
              {{ $webpPath:= replace $awards.Params.Image ".png" ".webp" }}
              {{ $webpPathStatic:= printf "static/%s" $webpPath }}
              {{ if (fileExists $webpPathStatic) -}}
                <source srcset="{{ $webpPath | safeURL }}" type="image/webp" >
              {{- end }}
            {{- end }}
            <img class="max-w-full mx-auto border-rounded" width="50%" src="/img/nbn-agriculture-winner.png" alt="nbn agriculture winner 2023">
            </picture>
        </a>
        <br>
        <div class="font-light text-black text-xl">
            {{ $awards.Content }}
        </div>
    </div>
</div>