{{ $headless := .Site.GetPage "/sections" }}
{{ $reg := $headless.Resources.GetMatch (printf "*%s*" "register") }}

<div id="register" class="w-full min-h-screen flex flex-col justify-center items-center bg-gray-800">
    <div class="self-center text-center w-full xl:w-1/3 px-4 sm:px:0">
        <h2 class="font-bold tracking-widest text-gray-200 text-4xl mb-4">{{ $reg.Title }}</h2>
        <div class="font-light text-gray-400 text-xl">
            {{ $reg.Content }}
        </div>
        <form class="w-full max-w-lg my-20 mx-auto" onsubmit="return submitForm()" validate>
            <div class="flex items-center border-b border-blue-600 py-2">
                <input class="appearance-none bg-transparent border border-transparent w-full text-gray-200 focus:outline-none focus:bg-gray-400 focus:text-gray-800 focus:border-gray-400 mr-3 py-2 px-3" id="form-email" type="email" value="" name="EMAIL" placeholder="something@domain.com" aria-label="Email Address" required>
                <button class="flex-shrink-0 bg-blue-600 border-blue-600 hover:bg-gray-800 hover:text-blue-600 border text-gray-200 py-2 px-4" type="submit" name="subscribe">
                    Sign Up
                </button>
            </div>
            <label class="block text-gray-200 text-left px-2 mt-4" for="gdpr_37169">
                <input class="leading-tight" type="checkbox" id="gdpr_37169" name="gdpr[37169]" value="Y" required>
                <span class="text-md font-light">
                    I agree with the <a href="/privacy" class="underline hover:no-underline hover:text-blue-600" title="Privacy Policy" target="_blank">Privacy Policy</a>
                </span>
            </label>
        </form>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/superagent/2.2.0/superagent.min.js"></script>
        <script>
            function submitForm() {
                superagent
                    .post('https://prod-31.australiaeast.logic.azure.com:443/workflows/130140203d6048449d801e009baf31f9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=ZoxbxzXH9gz5Hmhv0XUJbnhSMCenqnjbuQRJP5d8-dI')
                    .send({
                        email: document.getElementById('form-email').value,
                    })
                    .end(function(err, res){
                        if (err || !res.ok) {
                            alert('Whoops. Something went wrong.');
                        } else {
                            alert('Thank you for your registration.');
                        }
                    });
                return false;
            }
        </script>
    </div>
</div>