<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
    {{ block "head" . }}
        {{ partial "head.html" . }}
    {{ end }}
</head>
<body id="top" class="font-sans text-gray-800 bg-gray-200">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MJK756LH"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <div id="site"> <!-- real SITE starts here -->
        <main>
            {{ block "main" . }}
                <!-- site content from index.html -->
            {{ end }}
        </main>
        {{ block "footer" . }}
            {{ partial "footer.html" . }}
        {{ end }}
    </div> <!-- SITE BODY ends here -->
    {{ partial "js.html" . }}
</body>
</html>