<script src="https://unpkg.com/popper.js@1"></script>
<script src="https://unpkg.com/tippy.js@4"></script>
<script>

    const template = document.getElementById('followTip');
    const container = document.createElement('div');

    container.appendChild(document.importNode(template.content, true));

    tippy('#follow', {
        content: container.innerHTML,
        animation: 'scale',
        duration: 250,
        arrow: true,
        placement: 'bottom',
        interactive: true,
    })

    // New JS functions
    function navToggle() {
        // Select the element with the id 'menu'
        let menu = document.getElementById('menu');
        // Check if the element has the class 'hidden'
        if (menu.classList.contains('hidden')) {
          // If it has the class, remove it
          menu.classList.remove('hidden');
        } else {
          // If it doesn't have the class, add it
          menu.classList.add('hidden');
        }
    }

</script>